body {
    margin: 15px;
    font-size: 18px;
    font-family: monospace;
    background-color: violet;
    background: linear-gradient(to bottom right, violet, mediumslateblue); /* kan udelades */
}

article {
    text-align: center;
    align-content: center;
    height: calc(100vh - 30px);
    background-color: white;
    box-shadow: 0 0 10px gray;
}

img {
    width: 45%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    border: 12px solid orchid;
}

h1 {
    margin-bottom: 0; /* kan udelades */
    color: deeppink;
}

h2 {
    margin-top: 4px; /* kan udelades */
    color: blueviolet
}

p {
    margin-left: 10%;
    margin-right: 10%;
}

i {
    margin-top: 24px; /* kan udelades */
    margin-left: 10px;
    margin-right: 10px;
    color: deeppink;
}
