body {
  margin: 15px;
  font-family: "Ubuntu Mono", monospace;
  font-size: 400;
  background-color: #2d90ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239683f1'/%3E%3Cstop offset='1' stop-color='%239683f1' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235cc8c0'/%3E%3Cstop offset='1' stop-color='%235cc8c0' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23c5bbb2'/%3E%3Cstop offset='1' stop-color='%23c5bbb2' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232D90FF'/%3E%3Cstop offset='1' stop-color='%232D90FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF76E3'/%3E%3Cstop offset='1' stop-color='%23FF76E3' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%238AFF81'/%3E%3Cstop offset='1' stop-color='%238AFF81' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 30px);
  background-color: white;
  box-shadow: 0 0 10px rgb(114, 114, 114);
}
.profileimage {
  width: 45vw;
  height: 45vw;
  border: solid 12px rgb(205, 130, 255);
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(205, 130, 255);
}
img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
h1 {
  margin-bottom: 0;
  font-size: 1.8em;
  color: rgb(255, 0, 200);
}
h2 {
  margin-top: 4px;
  color: rgb(153, 0, 255);
}
p {
  text-align: center;
  line-height: 1.4em;
  font-size: 1.4em;
  margin-left: 10%;
  margin-right: 10%;
}
.sociallinks {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
i {
  color: rgb(255, 0, 200);
}